<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 Tracker India</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Covid-19 Tracker India Dashboard</h1>
<p>This application shows the current situation of covid-19 cases in India</p><br>

   
     <p>
        <span>Total Confirmed Cases :</span>
        <span th:text="${totalconfirmed}"></span>
    </p>
     <p>
        <span>Total Recovered Cases :</span>
        <span th:text="${totalrecovered}"></span>
    </p>
    <p>
        <span>Total Deceased Cases :</span>
        <span th:text="${totaldeceased}"></span>
    </p>



<table class="table table-dark">
<thead class="thead-light">
  <tr >
       <th>Date</th>
       <th>State</th>
       <th>District</th>
       <th>Confirmed</th>
       <th>Recovered</th>
       <th>Deceased</th>
       <th>Zone Status</th>
       <th>Railway service availability</th>
  </tr>
   <tr th:each="coviddata : ${CovidData}">
         <td th:text="${coviddata.Date}"></td>
         <td th:text="${coviddata.State}"></td>
         <td th:text="${coviddata.District}"></td>
         <td th:text="${coviddata.Confirmed}"></td>
         <td th:text="${coviddata.Recovered}"></td>
         <td th:text="${coviddata.Deceased}"></td>
         <td th:text="${coviddata.ZoneStatus}"></td>
         <td th:text="${coviddata.serviceAvailable}"></td>
   </tr>
    </table>
</div>
</body>

</html>